include ../../mixins
include ../head/head.pug
include ../header/header.pug
include ../foot/foot.pug
include ../menu/menu.pug
include ../forms/forms.pug
include ../script/script.pug
include ../hidden/hidden.pug
