-
  const docs = {
    dogovor: "#"
  }

  const contacts = {
    phone: {
      bot: "+79500532966",
      support1: "+79500532966",
      support2: "+73952484800"
    },
    email: 'domofon@dom38.ru',
    bots: {
      
    },
    apps: {
      android: "#"
    }
  }
