-
  const docs = {
    dogovor: "https://domofon.dom38.ru/contract/0",
    confidence: "#",
    pdnAgreement: "#"
  }

  const contacts = {
    phone: {
      bot: "+79500532966",
      support1: "+79500532966",
      support2: "+73952484800"
    },
    email: 'domofon@dom38.ru',
    bots: {
      viber: 'viber://pa?chatURI=pro_domofon',
      viberText: 'viber://pa?chatURI=pro_domofon&text=SendMe',
      telegram: 'https://t.me/ProDomofonBot'
    },
    apps: {
      android: "#",
      androidQR: '//placehold.it/100x100?text=QR-CODE'
    }
  }
