mixin accordion()
  mixin item(title)
    .accordion__item&attributes(attributes)
      .accordion__title!= title
        .accordion__svg
          +svg('down')
      .accordion__content.text
        if block
          block

  .accordion
    .container
      .row
        .col
          if block
            block
