mixin header(name)
  - name = name || ''
  header(class="header " + name, id="head")
    .header__img 
      img(src="img/general/head_phone.png", alt="image")
    .header__top-line
      if pageCode === 'main'
        span.logo ПРО
          span.logo__accent ДОМОФОН
      else
        a.logo(href="index.html") ПРО
          span.logo__accent ДОМОФОН
      +menuHover()
    
    .header__content
      .header__part
        h1.heading Умный домофон в&nbsp;каждый дом
        .header__subtitle Мы активно внедряем и&nbsp;сопровождаем системы контроля доступа в&nbsp;многоквартирных домах.
        .header__btn-wrap
          a.btn.btn--def(href="payment.html") Оплатить онлайн
          a.action-link(href="instruction.html") Как пользоваться


mixin header_min(name)
  - name = name || ''
  header(class="header header--auto " + name, id="head")
    .header__top-line
      if pageCode === 'main'
        span.logo ПРО
          span.logo__accent ДОМОФОН
      else
        a.logo(href="index.html") ПРО
          span.logo__accent ДОМОФОН
      +menuHover()













































//- 
