.map
  padding: 50px 0
  &__iframe
    position: relative
    iframe
      width: 100%


  &__filter
    position: absolute
    right: 0
    top: 0
    z-index: 10
    padding: 5px


  &__btn
    $sberbank-brand-color: #1a9f29
    $uplati-brand-color: #3292d3
    $all-brand-color: #d57e2b
    $sberbank-shadow-settings: 0 0 10px 0 $sberbank-brand-color
    $uplati-shadow-settings: 0 0 10px 0 $uplati-brand-color
    $all-shadow-settings: 0 0 10px 0 $all-brand-color
    padding: 5px 10px
    border-radius: .2em

    &:focus
      color: #fff
      transition: 0s

    &--sberbank
      background-color: $sberbank-brand-color
      &:hover,
      &:focus
        background-color: darken($sberbank-brand-color, 10)
      &.map__btn--active
        box-shadow: $sberbank-shadow-settings

    &--uplati
      background-color: $uplati-brand-color
      &:hover,
      &:focus
        background-color: darken($uplati-brand-color, 10)
      &.map__btn--active
        box-shadow: $uplati-shadow-settings

    &--all
      background-color: $all-brand-color
      &:hover,
      &:focus
        background-color: darken($all-brand-color, 10)
      &.map__btn--active
        box-shadow: $all-shadow-settings
