extends ../layout/main

block head 
  - var title = 'Контактная информация'
  - var bodyClass = ''
  - var pageCode = 'about'
block content  
  +header_min()
  
  article
    .container
      .row
        .col
          h1.subheading Мы меняем представление о ДОМОФОНе

    .container
      .row
        .col
          .text
            p Как&nbsp;сделать проживание в&nbsp;многоквартирном доме более комфортным? Компания «ПРО&nbsp;ДОМОФОН» уже более&nbsp;5&nbsp;лет помогает людям найти ответ на&nbsp;этот&nbsp;вопрос!
            p В&nbsp;составе компании профессиональная команда программистов, инженеров, монтажников и&nbsp;менеджеров, которые&nbsp;постоянно работают над&nbsp;улучшением рабочих характеристик применяемого оборудования, а&nbsp;также качества оказываемых услуг. Мы регулярно внедряем новые разработки от&nbsp;наших специалистов &mdash;&nbsp;и&nbsp;не&nbsp;только на&nbsp;новых объектах, но&nbsp;и&nbsp;на&nbsp;тех, кто&nbsp;с&nbsp;нами давно.
            p Предлагаемый нами домофон &mdash;&nbsp;это элемент «умного» дома, который мы создаем и&nbsp;совершенствуем каждый день. И&nbsp;поверьте, в&nbsp;нашем городе нет альтернативных предложений такого качества и&nbsp;таких возможностей!
            p Мы не&nbsp;только регулярно обновляем используемые технологии, но&nbsp;и&nbsp;ответственно проводим профилактические мероприятия, а&nbsp;также оперативно реагируем на&nbsp;нештатные ситуации. Мы всегда открыты к&nbsp;диалогу, конструктивной критике, рады предложениям, которые смогут сделать жизнь вам и&nbsp;вашим соседям удобнее.
