extends ../layout/main

block head 
  - var title = 'Контактная информация'
  - var bodyClass = ''
  - var pageCode = 'about'
block content  
  +header_min()
  
  article
    .container
      .row
        .col
          h1.subheading Мы меняем представление о ДОМОФОНе

    .container
      .row
        .col
          .text
            p Как сделать проживание в многоквартирном доме более комфортным? Компания «ПРО ДОМОФОН» уже более 5 лет помогает людям найти ответ на этот вопрос!
            p В составе компании профессиональная команда программистов, инженеров, монтажников и менеджеров, которые постоянно работают над улучшением рабочих характеристик применяемого оборудования, а также качества оказываемых услуг. Мы регулярно внедряем новые разработки от наших специалистов &mdash; и не только на новых объектах, но и на тех, кто с нами давно.
            p Предлагаемый нами домофон &mdash; это элемент «умного» дома, который мы создаем и совершенствуем каждый день. И поверьте, в нашем городе нет альтернативных предложений такого качества и таких возможностей!
            p Мы не только регулярно обновляем используемые технологии, но и ответственно проводим профилактические мероприятия, а также оперативно реагируем на нештатные ситуации. Мы всегда открыты к диалогу, конструктивной критике, рады предложениям, которые смогут сделать жизнь вам и вашим соседям удобнее.
