extends ../layout/main

block head 
  - var title = 'Контактная информация'
  - var bodyClass = 'page page--contacts'
  - var pageCode = 'contacts'

block head-script
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard")

block content  
  include ../modules/checkbox/pdn
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Контактная информация
  
  section.map
    .container
      .row
        .col
          .map__iframe#map(style="width: 100%; height: 420px;")

  section.info-block
    .container
      //- .row
        .col
          h2.subheading Контакты

      .info-block__item
        .info-block__action  Адрес:
        .info-block__desc: a.link(href='http://dom38.ru/ftp/99/ds100.jpg', data-fancybox) Иркутск, ул. Декабрьских Событий, д. 100, оф. 311
        .info-block__action 
        .info-block__desc (пл.&nbsp;Декабристов, слева от&nbsp;Пенсионного Фонда&nbsp;РФ, Деловой центр МЕГАПОЛИС —&nbsp;наверх по&nbsp;остекленной лестнице)

      .info-block__item
        .info-block__action Контактный телефон 
        .info-block__desc: a.link(href="tel:"+contacts.phone.bot) #{contacts.phone.bot} (Пн-Пт, с&nbsp;10:00 до&nbsp;18:00, обед с&nbsp;14:00 до&nbsp;15:00)
          
      .info-block__item
        .info-block__action Телефон контактного центра
        .info-block__desc: a.link(href="tel:"+contacts.phone.support2) #{contacts.phone.support2} (Пн-Пт, с&nbsp;10:00 до&nbsp;18:00, обед с&nbsp;14:00 до&nbsp;15:00)

      .info-block__item 
        .info-block__action E-Mail
        .info-block__desc: a.link(href="mailto:"+contacts.email) #{contacts.email}
  
      .info-block__item
        .info-block__action Режим работы:
        .info-block__desc: time Пн-Пт: 10:00-14:00, 15:00-18:00

  //- section.connection
    .container
      .row
        .col
          h2.subheading Задать вопрос
      form.form(data-type='mail')
        input(type='hidden', name='handler', value='contacts')/
        fieldset.form__fieldset
          .form__list.connection__list
            .connection__item 
              .form__item
                label.form__label Имя: <span class="form__label-req">*</span>
                  input.form__input(type='text', required='', name='name', placeholder='') 
              .form__item
                label.form__label Телефон:
                  input.form__input(type='tel', name='phone', placeholder='')
              .form__item 
                label.form__label Электронный адрес: <span class="form__label-req">*</span>
                  input.form__input(type='email', required='', name='mail', placeholder='')
            .connection__item
              .form__item
                label.form__label Текст сообщения:   
                  textarea.form__textarea(name="textarea")  
            .form__item.form__item--btn.connection__item--btn
              +pdn()
              p.desc 
                span *
                |  - поля обязательные к заполнению
              button(type='submit').form__btn.btn.btn--lg.btn--alert Отправить
        .result.form__result
