extends ../layout/main
include ../modules/faq/lib

block head 
  - var title = 'Вопросы и ответы'
  - var bodyClass = ''
  - var pageCode = 'faq'
block content  
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Вопросы и ответы

  +faq()
    +question("У меня в квартире нет домофона — должен ли я платить?")
      p Существует ошибочное мнение, что если в квартире нет трубки — в квартире нет домофона, а значит, за него не нужно платить. Однако наличие или отсутствие в квартире переговорной трубки не влияет на износ комплекта оборудования (доводчик, магнитный замок, кнопка выхода, блок вызова, блок электроники, блок питания, кабельные линии), расположенного на подъездной двери (Автоматически Запирающие Устройства — далее по тексту АЗУ). А тем временем, АЗУ подвергается ежедневному круглосуточному усиленному износу в сложных температурных условиях.
      p Для нормального функционирования этой системы требуется его ежемесячное техническое сопровождение, особенно в период начального заселения, когда множество отделочных компаний оказывают ремонтные услуги собственникам жилья. Система находится в постоянной усиленной эксплуатации, в связи с чем требует регулировок, замены выходящего из строя составляющих, а также постоянной настройки работы подъездных дверей. 
      p При выходе из строя элементов АЗУ домофонная организация за счет собственных средств производит их замену.
    +question("Чем ваша компания лучше других, представленных в Иркутске?")
      p Например, тем, что стоимость ежемесячного технического сопровождения системы АЗУ и подъездных дверей составляет 45 рублей с квартиры многоквартирного дома за подъездную дверь лифтового холла, 14 рублей за дверь пожарного выхода (для домов с несколькими входами). Данная стоимость ниже сложившейся на рынке нашего вида услуг по городу Иркутск. При этом, как уже говорилось выше, домофонная организация за счет собственных средств производит замену вышедшего из строя оборудования АЗУ.
      p О прочих наших многочисленных преимуществах вы можете прочитать на #[a(href="/", target='_blank') главной странице].
    +question("Как я могу заплатить за домофон?")
      ol
        li Пластиковыми картами Visa и  MasterCard непосредственно с сайта (срок зачисления в течение 10-30 минут). ВНИМАНИЕ! Не работают карты Maestro Сбербанка. #[a(href="/payment.html") Перейдите по ссылке], введите номер Вашего договора (на КЛЮЧЕ НОВОСЕЛА), далее следуйте инструкции.
        li Через отделения, банкоматы Сбербанка, Сбербанк Онлайн, мобильное приложение, Автоплатежи: При любом из перечисленных способов срок зачисления до 3 суток. По ИНН осуществляете поиск получателя платежа, вводите номер договора и далее следуете инструкции.
        li Через терминалы или расчетно-кассовые центры
          //noindex
          a(href="http://www.uplati.ru/", rel="nofollow", target='_blank') системы "Город"
          ///noindex
          | , кроме МДМ банка (срок зачисления в течение 30 минут).
          //noindex 
          a(href="https://youtu.be/9syNuJLm1oM", data-fancybox) Инструкция по оплате через терминал YouTube.
          ///noindex
      p Для получения реквизитов — отправьте с зарегистрированного номера телефона (с которого был отправлен КодДоступа) на номер телефона +79500532966 СМС со следующим содержанием: #[code *3].

    +question("Как мне зарегистрировать договор?")
      p В настоящий момент мы используем два основных варианта дистанционной регистрации договора: по паролю и по Ключу Новосёла.

    +question("Как я могу зарегистрировать договор по паролю?")
      p Данный способ используется при смене собственника квартиры, когда новому владельцу предыдущий не передал КЛЮЧ НОВОСЕЛА.
      p Пароль вы можете получить в офисе управляющей организации (или в нашем офисе), предъявив паспорт и документы, дающие вам право входить в подъезд. Вам выдадут временный пароль и инструкцию по его использованию.
      p Для того, чтобы начать пользоваться им, сотрите защитную полосу. Под ней располагается Код Доступа, набрав который, Вы сможете войти в подъезд вашего дома.
      p ВНИМАНИЕ: Перед входом в подъезд по этому коду ОБЯЗАТЕЛЬНО отправить СМС-сообщение на номер +79500532966 с содержанием: #[code КодДоступа *пробел* НомерКвартиры]
      p Также предупреждаем! Изначально пароли и ключи внесены во все подъезды жилого комплекса и могут открыть любую дверь, но при первом их использовании система запоминает адрес, где были приложены ключи или набраны пароли впервые (доступ в остальные адреса будет заблокирован). Не проверяйте работу ключа или пароля на других объектах, иначе затем вы не сможете попасть в свой собственный подъезд!

    +question("А что такое Ключ Новосёла?")
      p Если после приобретения квартиры Вам передали КЛЮЧ НОВОСЕЛА, то эта ламинированная карта будет являться для вас ключом доступа в подъезд. Также на карте находится КодДоступа, который Вы можете сообщить бригадам отделочников для входа в подъезд без вашего присутствия.
      p Для того, чтобы начать пользоваться, отправьте СМС-сообщение на номер +79500532966 с содержанием: #[code КодДоступа *пробел* НомерКвартиры]
      p Также предупреждаем! Изначально пароли и ключи внесены во все подъезды жилого комплекса и могут открыть любую дверь, но при первом их использовании система запоминает адрес, где были приложены ключи или набраны пароли впервые (доступ в остальные адреса будет заблокирован). Не проверяйте работу ключа или пароля на других объектах, иначе затем вы не сможете попасть в свой собственный подъезд!

    +question("Как и где я могу приобрести дополнительные ключи?")
      p С перечнем мест продаж договорных ключей вы можете ознакомиться #[a(href="key-retailers.html", target='_blank') по ссылке]. После согласия на отправку Вашего местоположения система отсортирует адреса по удаленности от вас.
      p Привязка ключей к договору производится отправкой номеров ключей коротким сообщением через СМС/Viber/Telegram/Android приложение. Ключ будет готов к использованию в течение часа.
      p Внимание! Для жителей, выбравших БЕЗДОГОВОРНЫЙ вариант взаимодействия, такие ключи не подходят. Обратитесь в офис компании с документами на право собственности и паспортом для приобретения бездоговорных карт-ключей.

    +question("Как мне получить список доступных СМС-команд?")
      p Чтобы проверить баланс договора, заказать установку/подключение трубки и получить прочую информацию — в ответ на любое сообщение нашей системы отправьте знак вопроса: «?». В ответ система отправит список доступных команд.
      p ВНИМАНИЕ: При отрицательном состоянии счёта автоматически отключается работа внутриквартирного переговорного устройства. Также служба технической поддержки не сможет ответить на Ваши вопросы, связанные с технической стороной работы домофона. Электронные ключи по количеству собственников (по умолчанию — один) открывают подъездную дверь даже при отрицательном значении лицевого счета. Дополнительные ключи открывают двери при положительном балансе лицевого счета.

    +question("Как мне обратиться в вашу техподдержку?")
      p Подать заявку в службу технической поддержки Вы можете следующими способами:
      ol
        li Через СМС/Viber/Telegram сообщения: с зарегистрированного телефона на номер +79500532966 отправить СМС с содержанием:
          br
          code *911 ОписаниеНеисправности
          br
          | Описание неисправности — в произвольном виде описываете возникший у Вас вопрос. Среди основных преимуществ данного варианта можно выделить оперативность и отсутствие очереди к оператору.
        li Через личный кабинет на сайте. Использовав зарегистрированный телефон, авторизуйтесь на сайте и перейдите в раздел Договоры. В правой части строки договора, в выпадающем меню, выберите пункт «Заявки». Сформируйте и сохраните свою заявку.
        li Через информационный центр системы ДОМОФОН. Центр принимает заявки по неисправностям системы или заявки на подключение внутриквартирного переговорного устройства.

    +question("Я действительно могу открыть дверь телефонным звонком? Как это сделать?")
      p ВНИМАНИЕ: Управление доступно ТОЛЬКО с зарегистрированного номера телефона — с которого первоначально Вами был отправлен КодДоступа, или привязанного командой *8 (см. вопрос «Как мне получить список доступных СМС-команд»).
      p Для входа в подъезд позвоните на номер +79500532966. Внимательно прослушайте голосовое меню и нажмите соотвествующую клавишу на телефоне — дверь откроется.
      p ВНИМАНИЕ! Данная функция не является гарантированной, т.к. на ее работу влияет множество внешних факторов, однако мы прикладываем максимум усилий для повышения устойчивости ее работы.
      p Вскоре планируется введение управления АЗУ через Viber и Telegram!

    +question("Как мне вас найти?")
      p Адрес и режим работы нашей компании: #[a(href="http://dom38.ru/ftp/99/ds100.jpg", data-fancybox) город Иркутск, ул. Декабрьских событий, д. 100] (Деловой центр «МЕГАПОЛИС», лестница слева от Пенсионного Фонда РФ).
      p Контактный телефон: #{contacts.phone.support1} #[time (Понедельник-Пятница, с 10:00 до 18:00, обед с 14:00 до 15:00)]
      p По вопросам неисправной работы системы ДОМОФОН: #{contacts.phone.support2}
