extends ../layout/main
include ../modules/faq/lib

block head 
  - var title = 'Вопросы и ответы'
  - var bodyClass = ''
  - var pageCode = 'faq'
block content  
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Вопросы и ответы

  +faq()
    +question("У&nbsp;меня в&nbsp;квартире нет домофона —&nbsp;должен&nbsp;ли я платить?")
      p Существует ошибочное мнение, что&nbsp;если в&nbsp;квартире нет трубки —&nbsp;в&nbsp;квартире нет домофона, а&nbsp;значит, за&nbsp;него не&nbsp;нужно платить. Однако наличие или&nbsp;отсутствие в&nbsp;квартире переговорной трубки не&nbsp;влияет на&nbsp;износ комплекта оборудования (доводчик, магнитный замок, кнопка выхода, блок вызова, блок электроники, блок питания, кабельные линии), расположенного на&nbsp;подъездной двери (Автоматически Запирающие Устройства —&nbsp;далее по&nbsp;тексту АЗУ). А&nbsp;тем временем, АЗУ подвергается ежедневному круглосуточному усиленному износу в&nbsp;сложных температурных условиях.
      p Для&nbsp;нормального функционирования этой системы требуется его ежемесячное техническое сопровождение, особенно в&nbsp;период начального заселения, когда&nbsp;множество отделочных компаний оказывают ремонтные услуги собственникам жилья. Система находится в&nbsp;постоянной усиленной эксплуатации, в&nbsp;связи с&nbsp;чем требует регулировок, замены выходящего из&nbsp;строя составляющих, а&nbsp;также постоянной настройки работы подъездных дверей. 
      p При&nbsp;выходе из&nbsp;строя элементов АЗУ домофонная организация за&nbsp;счет собственных средств производит их&nbsp;замену.
    +question("Чем ваша компания лучше других, представленных в&nbsp;Иркутске?")
      p Например, тем, что&nbsp;стоимость ежемесячного технического сопровождения системы АЗУ и&nbsp;подъездных дверей составляет 45&nbsp;рублей с&nbsp;квартиры многоквартирного дома за&nbsp;подъездную дверь лифтового холла, 14&nbsp;рублей за&nbsp;дверь пожарного выхода (для&nbsp;домов с&nbsp;несколькими входами). Данная стоимость ниже сложившейся на&nbsp;рынке нашего вида услуг по&nbsp;городу Иркутск. При&nbsp;этом, как&nbsp;уже говорилось выше, домофонная организация за&nbsp;счет собственных средств производит замену вышедшего из&nbsp;строя оборудования АЗУ.
      p О&nbsp;прочих наших многочисленных преимуществах вы можете прочитать на #[a(href="/", target='_blank') главной странице].
    +question("Как я могу заплатить за&nbsp;домофон?")
      ol
        li Пластиковыми картами Visa и&nbsp;MasterCard непосредственно с&nbsp;нашего сайта (срок зачисления в&nbsp;течение 10-30&nbsp;минут). ВНИМАНИЕ! Не&nbsp;работают карты Maestro Сбербанка. #[a(href="/payment.html") Перейдите по&nbsp;ссылке], введите номер Вашего договора (на&nbsp;КЛЮЧЕ НОВОСЕЛА), далее следуйте инструкции.
        li Через&nbsp;отделения, банкоматы Сбербанка, «Сбербанк&nbsp;Онлайн», мобильное приложение, Автоплатежи: При&nbsp;любом из&nbsp;перечисленных способов срок зачисления до&nbsp;3&nbsp;суток. Вы должны осуществить поиск получателя платежа по&nbsp;ИНН, ввести номер договора и&nbsp;далее следовать инструкции.
        li Через терминалы или&nbsp;расчетно-кассовые центры
          //noindex
          a(href="http://www.uplati.ru/", rel="nofollow", target='_blank') системы «Город»
          ///noindex
          | , кроме МДМ банка (срок зачисления в&nbsp;течение 30&nbsp;минут).
          //noindex 
          a(href="https://youtu.be/9syNuJLm1oM", data-fancybox) Инструкция по&nbsp;оплате через терминал (YouTube).
          ///noindex
      p Для&nbsp;получения реквизитов —&nbsp;отправьте с&nbsp;зарегистрированного номера телефона (с&nbsp;которого был отправлен КодДоступа) на&nbsp;номер телефона +79500532966 СМС со&nbsp;следующим содержанием: #[code *3].

    +question("Как мне зарегистрировать договор?")
      p В&nbsp;настоящий момент мы используем два основных варианта дистанционной регистрации договора: по&nbsp;паролю и по&nbsp;Ключу Новосёла.

    +question("Как я могу зарегистрировать договор по&nbsp;паролю?")
      p Данный способ используется при&nbsp;смене собственника квартиры, когда новому владельцу предыдущий не&nbsp;передал КЛЮЧ&nbsp;НОВОСЕЛА.
      p Пароль вы можете получить в&nbsp;офисе управляющей организации (или&nbsp;в&nbsp;нашем офисе), предъявив паспорт и&nbsp;документы, дающие вам право входить в&nbsp;подъезд. Вам выдадут временный пароль и&nbsp;инструкцию по&nbsp;его использованию.
      p Для&nbsp;того, чтобы&nbsp;начать пользоваться им, сотрите защитную полосу. Под&nbsp;ней располагается Код&nbsp;Доступа, набрав который, вы сможете войти в&nbsp;подъезд вашего дома.
      p ВНИМАНИЕ: Перед входом в&nbsp;подъезд по&nbsp;этому коду ОБЯЗАТЕЛЬНО отправить СМС-сообщение на&nbsp;номер +79500532966 с&nbsp;содержанием: #[code КодДоступа *пробел* НомерКвартиры]
      p Также предупреждаем! Изначально пароли и&nbsp;ключи внесены во&nbsp;все подъезды жилого комплекса и&nbsp;могут открыть любую дверь, но&nbsp;при&nbsp;первом их использовании система запоминает адрес, где&nbsp;были приложены ключи или&nbsp;набраны пароли впервые (доступ в&nbsp;остальные адреса будет заблокирован). Не&nbsp;проверяйте работу ключа или&nbsp;пароля на&nbsp;других объектах, иначе затем вы&nbsp;не&nbsp;сможете попасть в&nbsp;свой собственный подъезд!

    +question("А&nbsp;что такое Ключ Новосёла?")
      p Если после приобретения квартиры Вам передали КЛЮЧ&nbsp;НОВОСЕЛА, то&nbsp;эта ламинированная карта будет являться для&nbsp;вас ключом доступа в&nbsp;подъезд. Также&nbsp;на&nbsp;карте находится КодДоступа, который Вы можете сообщить бригадам отделочников для&nbsp;входа в&nbsp;подъезд без&nbsp;вашего присутствия.
      p Для&nbsp;того, чтобы&nbsp;начать им пользоваться, отправьте СМС-сообщение на&nbsp;номер +79500532966 с&nbsp;содержанием: #[code КодДоступа *пробел* НомерКвартиры]
      p Также предупреждаем! Изначально пароли и&nbsp;ключи внесены во&nbsp;все подъезды жилого комплекса и&nbsp;могут открыть любую дверь, но&nbsp;при&nbsp;первом их использовании система запоминает адрес, где&nbsp;были приложены ключи или&nbsp;набраны пароли впервые (доступ в&nbsp;остальные адреса будет заблокирован). Не&nbsp;проверяйте работу ключа или&nbsp;пароля на&nbsp;других объектах, иначе затем вы&nbsp;не&nbsp;сможете попасть в&nbsp;свой собственный подъезд!

    +question("Как&nbsp;и&nbsp;где я могу приобрести дополнительные ключи?")
      p С&nbsp;перечнем мест продаж договорных ключей вы можете ознакомиться #[a(href="key-retailers.html", target='_blank') по&nbsp;ссылке]. После согласия на&nbsp;отправку Вашего местоположения система отсортирует адреса по&nbsp;удаленности от&nbsp;вас.
      p Привязка ключей к&nbsp;договору производится отправкой номеров ключей коротким сообщением через СМС/Viber/Telegram/Android приложение. Ключ будет готов к&nbsp;использованию в&nbsp;течение часа.
      p Внимание! Для&nbsp;жителей, выбравших БЕЗДОГОВОРНЫЙ вариант взаимодействия, такие ключи не&nbsp;подходят. Обратитесь в&nbsp;офис компании с&nbsp;документами на&nbsp;право собственности и&nbsp;паспортом для&nbsp;приобретения бездоговорных карт-ключей.

    +question("Как&nbsp;мне получить список доступных СМС-команд?")
      p Чтобы&nbsp;проверить баланс договора, заказать установку/подключение трубки и&nbsp;получить прочую информацию —&nbsp;в&nbsp;ответ на&nbsp;любое сообщение нашей системы отправьте знак вопроса: «?». В&nbsp;ответ система отправит список доступных команд.

    +question("Что&nbsp;будет, если&nbsp;я не&nbsp;успею вовремя оплатить ваши услуги?")
      p При&nbsp;отрицательном состоянии счёта автоматически отключается работа внутриквартирного переговорного устройства. Также&nbsp;служба технической поддержки не&nbsp;сможет ответить на&nbsp;Ваши вопросы, связанные с&nbsp;технической стороной работы домофона. Электронные ключи по&nbsp;количеству собственников (по&nbsp;умолчанию —&nbsp;один) открывают подъездную дверь даже при&nbsp;отрицательном значении лицевого счета. Дополнительные ключи открывают двери при&nbsp;положительном балансе лицевого счета.

    +question("Как мне обратиться в&nbsp;вашу техподдержку?")
      p Подать заявку в&nbsp;службу технической поддержки Вы можете следующими способами:
      ol
        li Через СМС/Viber/Telegram сообщения: с&nbsp;зарегистрированного телефона на&nbsp;номер +79500532966 отправить СМС с&nbsp;содержанием:
          br
          code *911 ОписаниеНеисправности
          br
          | Описание неисправности —&nbsp;в произвольном виде описываете возникший у&nbsp;Вас вопрос. Среди основных преимуществ данного варианта можно выделить оперативность и&nbsp;отсутствие очереди к&nbsp;оператору.
        li Через&nbsp;личный кабинет на&nbsp;сайте. Использовав зарегистрированный телефон, авторизуйтесь на&nbsp;сайте и&nbsp;перейдите в&nbsp;раздел Договоры. В&nbsp;правой части строки договора, в&nbsp;выпадающем меню, выберите пункт «Заявки». Сформируйте и&nbsp;сохраните свою заявку.
        li Через&nbsp;информационный центр системы ДОМОФОН. Центр принимает заявки по&nbsp;неисправностям системы или&nbsp;заявки на&nbsp;подключение внутриквартирного переговорного устройства.

    +question("Я действительно могу открыть дверь телефонным звонком? Как&nbsp;это сделать?")
      p ВНИМАНИЕ: Управление доступно ТОЛЬКО с&nbsp;зарегистрированного номера телефона —&nbsp;с&nbsp;которого первоначально Вами был отправлен КодДоступа, или&nbsp;привязанного командой *8 (см.&nbsp;вопрос «Как&nbsp;мне получить список доступных СМС-команд»).
      p Для&nbsp;входа в&nbsp;подъезд позвоните на&nbsp;номер +79500532966. Внимательно прослушайте голосовое меню и&nbsp;нажмите соотвествующую клавишу на&nbsp;телефоне —&nbsp;дверь откроется.
      p ВНИМАНИЕ! Данная функция не&nbsp;является гарантированной, т.к.&nbsp;на&nbsp;ее работу влияет множество внешних факторов, однако&nbsp;мы прикладываем максимум усилий для&nbsp;повышения устойчивости ее&nbsp;работы.

    +question("Как мне вас найти?")
      p Адрес и&nbsp;режим работы нашей компании: #[a(href="http://dom38.ru/ftp/99/ds100.jpg", data-fancybox) город&nbsp;Иркутск, ул.&nbsp;Декабрьских событий, д.&nbsp;100] (Деловой центр «МЕГАПОЛИС», лестница слева от&nbsp;Пенсионного Фонда&nbsp;РФ).
      p Контактный телефон: #{contacts.phone.support1} #[time (Понедельник-Пятница, с&nbsp;10:00 до&nbsp;18:00, обед с&nbsp;14:00 до&nbsp;15:00)]
      p По&nbsp;вопросам неисправной работы системы ДОМОФОН: #{contacts.phone.support2}
