extends ../layout/main
include ../modules/faq/lib

block head 
  - var title = 'Вопросы и ответы'
  - var bodyClass = ''
block content  
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Вопросы и ответы

  +faq()
    +question("Вопрос 1")
      p Ответ 1:  Далеко-далеко за словесными горами в стране.
    +question("Вопрос 2")
      p Ответ 2:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
    +question("Вопрос 3")
      p Ответ 3:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
    +question("Вопрос 4:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой текстов пояс оксмокс? Не журчит, рот себя коварный лучше до имеет буквоград они дал дорогу гор, она, безопасную однажды!")
      p Ответ 4:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Возвращайся это маленький всеми обеспечивает взгляд снова силуэт страну пояс ipsum, свой заголовок. Буквоград снова снова эта заголовок переписывается? Толку точках рот власти имени предложения свое дороге алфавит, бросил не продолжил они, агенство над, напоивший все обеспечивает инициал, рыбного но составитель грустный наш ручеек пустился. Алфавит она живет которой всемогущая переписывается букв, своих, lorem ты которое коварный безопасную дороге, то наш о залетают взобравшись строчка большого. Запятых использовало, рукопись однажды ему власти. Толку путь своего приставка свой вскоре подзаголовок буквенных он правилами вопроса первую своих, имени, которой жаренные на берегу если заголовок коварный меня пояс они всемогущая единственное рыбного маленькая предупредила.
