extends ../layout/main

block head 
  - var title = 'Вопросы и ответы'
  - var bodyClass = ''
block content  
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Вопросы и ответы
      


  .accordion
    .container
      .row
        .col
          .accordion__item
            .accordion__title  Вопрос 1
              .accordion__svg
                +svg('down')
            .accordion__content Ответ 1:  Далеко-далеко за словесными горами в стране.
          .accordion__item
            .accordion__title Вопрос 2
              .accordion__svg
                +svg('down')
            .accordion__content Ответ 2:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
          .accordion__item
            .accordion__title Вопрос 3
              .accordion__svg
                +svg('down')
            .accordion__content Ответ 3:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.

          .accordion__item
            .accordion__title Вопрос 4:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Которой текстов пояс оксмокс? Не журчит, рот себя коварный лучше до имеет буквоград они дал дорогу гор, она, безопасную однажды!
              .accordion__svg
                +svg('down')
            .accordion__content Ответ 4:  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Возвращайся это маленький всеми обеспечивает взгляд снова силуэт страну пояс ipsum, свой заголовок. Буквоград снова снова эта заголовок переписывается? Толку точках рот власти имени предложения свое дороге алфавит, бросил не продолжил они, агенство над, напоивший все обеспечивает инициал, рыбного но составитель грустный наш ручеек пустился. Алфавит она живет которой всемогущая переписывается букв, своих, lorem ты которое коварный безопасную дороге, то наш о залетают взобравшись строчка большого. Запятых использовало, рукопись однажды ему власти. Толку путь своего приставка свой вскоре подзаголовок буквенных он правилами вопроса первую своих, имени, которой жаренные на берегу если заголовок коварный меня пояс они всемогущая единственное рыбного маленькая предупредила.


























































//- 