extends ../layout/main

block head 
  - var title = 'Контактная информация'
  - var bodyClass = ''
block content  
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Контактная информация
  
  section.map
    .container
      .row
        .col
          .map__iframe
            <div id="YMapsID" style="width: 100%; height: 420px;"></div>
            //- <iframe src="https://yandex.ua/map-widget/v1/-/CBesvETjpB" width="560" height="400" frameborder="0"></iframe>

  section.info-block
    .container
      .row
        .col
          h2.subheading Title

      .info-block__item
        .info-block__action  Адрес:
        .info-block__desc Иркутск, ул. Красного Восстания, д.20 оф. 318

      .info-block__item
        .info-block__action По сотрудничеству 
        .info-block__desc: a(href="tel:+73952973636") +7 (3952) 97-36-36
        .info-block__action По поддержке  
        .info-block__desc: a(href="tel:+73952973636") +7 (3952) 97-36-36
  
      .info-block__item 
        .info-block__action По сотрудничеству
        .info-block__desc <a href="mailto:mail@topsite.studio">mail@topsite.studio</a>
        .info-block__action По поддержке  
        .info-block__desc <a href="mailto:help@topsite.studio">help@topsite.studio</a>
        .info-block__action По продвижению
        .info-block__desc <a href="mailto:marketing@topsite.studio">marketing@topsite.studio</a>
  
      .info-block__item
        .info-block__action Режим работы:
        .info-block__desc Время работы: Пн-Пт 10-19

  section.connection
    .container
      .row
        .col
          h2.subheading Задать вопрос
      form(class='form ' action='#', enctype='multipart/form-data')
        // Hidden Required Fields
        input(name='form_subject', value='Задать вопрос' + formTitle, type='hidden')
        // END Hidden Required Fields
        .form__list.connection__list
          .connection__item 
            .form__item
              label.form__label Имя: <span class="form__label-req">*</span>
                input.form__input(type='text', required='', name='name', placeholder='') 
            .form__item
              label.form__label Телефон:
                input.form__input(type='tel', name='phone', placeholder='')
            .form__item 
              label.form__label Электронный адрес: <span class="form__label-req">*</span>
                input.form__input(type='email', required='', name='mail', placeholder='')
          .connection__item
            .form__item
              label.form__label Текст сообщения:   
                textarea.form__textarea(name="textarea")  
          .form__item.form__item--btn.connection__item--btn
            p.desc 
              span *
              |  - поля обязательные к заполнению
            button(type='submit').btn.btn--lg.btn--alert Отправить
           



block script
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  script.
    var myMap;
    ymaps.ready(function () {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map").
    myMap = new ymaps.Map("YMapsID", {
    // При инициализации карты обязательно нужно указать
    // её центр и коэффициент масштабирования.
    center: [56.342436, 43.941972],
    // Масштаб
    zoom: 17
    });
    //Маркер
    var myPlacemark = new ymaps.Placemark([56.342436, 43.941972], {}, {
    //- preset: 'islands#greenDotIcon'
    });
    myMap.geoObjects.add(myPlacemark); // Размещение геообъекта на карте.
    });


 



































//- 