extends ../layout/main

block head 
  - var title = 'Пункты продажи ключей'
  - var bodyClass = 'page page--keyretailers'
  - var pageCode = 'key-retailers'

block head-script
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard")
    
block content
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Пункты продажи ключей
  
  section.map
    .container
      .row
        .col
          .map__iframe#map

  section.info-table
    .container
      .row
        .col
          table.table.table--places
            thead
              tr.table__row-title
                th Наименование
                th Адрес
                th Режим работы
                th Карта
                th Расстояние
            tbody#stores-list
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
