extends ../layout/main

block head 
  - var title = 'Пункты продажи ключей'
  - var bodyClass = 'page page--keyretailers'
  - var pageCode = 'key-retailers'

block head-script
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard")
    
block content
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Пункты продажи ключей
  
  section.map
    .container
      .row
        .col
          .map__iframe#map

  section.info-table
    .container
      .row
        .col
          table.table.table--places
            thead
              tr.table__row-title
                th Наименование
                th Адрес
                th Режим работы
                th Карта
                th Расстояние
            tbody#stores-list

          p
            button#load-more.btn.btn--pas.info-table__btn(type='button', hidden) Показать ещё
