extends ../layout/main

block head 
  - var title = 'Оплата'
  - var bodyClass = ''
  - var pageCode = 'payment'

block head-script
  //- Тут по инструкции был GET-параметр onload=vcRecaptchaApiLoaded и render=explicit
  script(src="//www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit", async, defer)  
  script(src="//widget.vp.ru/vpjs1.1/common.js")
  script.
     var onSubmit = function(token) {
          console.log('success!')
          $('#contract-input').submit()
        };

      var onloadCallback = function() {
        grecaptcha.render('check-contract', {
          'sitekey' : '6LeQql0UAAAAAKgNgo79CJFasRkl6II9dDnUMfnV',
          'callback' : onSubmit
        });
      };

block content  
  +header_min()
  
  //- .container
    .row
      .col
        h2.subheading Договор
  section.connection
    .container#app
      pre#preprepre
      form(class='form', data-form='payment')#contract-input
        .form__item 
          label.form__label(for='contract') Договор:
          input#contract(type='text', name='contract', required).form__input.form__input--num
        .form__item.form__item--btn
          button(type='submit', name='submit')#check-contract.btn.btn--lg Вход
 
      // Раздел просмотра данных по договору находится в разработке!
      section.contract#contract-info(hidden)
        .contract-info
          dl.term-list
            .term-list__row
              dt.term-list__term #[strong Номер договора]
              dd.term-list__value: span#contract-number
            .term-list__row
              dt.term-list__term #[strong Адрес]
              dd.term-list__value: span#address
          
          // Этот блок ещё в разработке
          .draft
            //h3.subheading.draft__heading Стоимость ежемесячного тех. обслуживания
            ul.draft__contents#contract-services
              //- содержимое чека будет здесь
            footer.draft__footer
              p.draft__result #[strong Итого:] #[input#result-value(type='text', name='contract', required).form__input.form__input--num.draft__sum] руб.

          button(type='button').btn.btn--lg#pay-button Оплатить