extends ../layout/main

block head 
  - var title = 'Оплата'
  - var bodyClass = ''

block head-script
  //- Тут по инструкции был GET-параметр onload=vcRecaptchaApiLoaded и render=explicit
  script(src="//www.google.com/recaptcha/api.js", async, defer)  
  script(src="//widget.vp.ru/vpjs1.1/common.js")
  script.
    function recaptchaCallback () {
      var forma = document.querySelector("[data-form='payment']")
      forma.elements.submit.disabled = false
      return false
    }

block content  
  +header_min()
  
  //- .container
    .row
      .col
        h2.subheading Договор
  
  section.connection
    .container#app
      pre#preprepre
      form(class='form', data-form='payment')#contract-input
        .form__item 
          label.form__label Договор:
            input(type='text', name='contract', required).form__input.form__input--num

        .form__item.form__item--captcha
          +gcaptcha('6LflygQTAAAAAMZ9uYeT3vLGEbgx-pcGgm4phTrS', 'recaptchaCallback')
 
        .form__item.form__item--btn
          button(type='submit', disabled, name='submit')#check-contract.btn.btn--lg.btn--alert Вход

      // Раздел просмотра данных по договору находится в разработке!
      section.contract(hidden)#contract-info
        .contract-info
          dl.term-list
            .term-list__row
              dt.term-list__term #[strong Номер договора]
              dd.term-list__value: span#contract-number
            .term-list__row
              dt.term-list__term #[strong Адрес]
              dd.term-list__value: span#address
          
          // Этот блок ещё в разработке
          table.contract-info__table.table
            tbody#contract-services
              tr: td(colspan='2') Услуга 1 - 500 руб.
              tr: td(colspan='2') Услуга 2 - 500 руб.
              tr: td(colspan='2') Услуга 3 - 500 руб.
            
            tfoot
              tr
                td Итого:
                td: span#result-value 1500 руб.
          // Как и эта кнопочка
          button(type='button').btn.btn--lg.btn--success#pay-button Оплатить
