extends ../layout/main

block head 
  - var title = 'Пункты оплаты'
  - var bodyClass = 'page page--wheretopay'
  - var pageCode = 'wheretopay'

block head-script
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard")

block content
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Пункты оплаты
  
  section.map
    .container
      .row
        .col
          .map__iframe#map(style="width: 100%; height: 420px;")
            .map__filter(hidden)
              button.map__btn.map__btn--all.btn.btn--pas(type='button', data-category='all') Все
              button.map__btn.map__btn--sberbank.btn.btn--pas(type='button', data-category='sberbank') Сбербанк
              button.map__btn.map__btn--uplati.btn.btn--pas(type='button', data-category='gorod') Система «Город»

  section.info-table
    .container
      .row
        .col
          table.table
            thead
              tr.table__row-title
                th Наименование
                th Адрес
                th Расстояние
            tbody#stores-list
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "Городок"
                td(data-title="Адрес").table__td Пискунова ул, 150/1
                td(data-title="Режим работы").table__td Ежед., 09:00 - 24:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
              //- tr.table__row-content
                td(data-title="Наименование").table__td Маг. "ОРХИДЕЯ"
                td(data-title="Адрес").table__td Дивная, 2
                td(data-title="Режим работы").table__td Ежед., 10:00 - 21:00
                td(data-title="Карта").table__td
                  a.table__link(data-fancybox, href='img/general/head_phone.png') Посмотреть схему проезда
