extends ../layout/main

block head 
  - var title = 'Пункты оплаты'
  - var bodyClass = 'page page--wheretopay'
  - var pageCode = 'wheretopay'

block head-script
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.standard")

block content
  +header_min()
  
  .container
    .row
      .col
        h2.subheading Пункты оплаты
  
  section.map
    .container
      .row
        .col
          .map__container
            .map__filter(hidden)
              button.map__btn.map__btn--all.btn.btn--pas(type='button', data-category='all') Все
              button.map__btn.map__btn--sberbank.btn.btn--pas(type='button', data-category='sberbank') Сбербанк
              button.map__btn.map__btn--uplati.btn.btn--pas(type='button', data-category='gorod') Система «Город»
            .map__iframe#map

  section.info-table
    .container
      .row
        .col
          table.table.table--places
            thead
              tr.table__row-title
                th Наименование
                th Адрес
                th Расстояние
            tbody#stores-list

          p.info-table__btn-container
            button#load-more.btn.btn--pas.info-table__btn(type='button', hidden) Показать ещё
