include lib

- var pdnLink = docs.pdnAgreement

mixin pdn()
  +checkbox('Я подтверждаю своё согласие на <a href="' + pdnLink + '" target="_blank" class="link">обработку своих персональных данных</a>', 'pdn-agreement', 'iagree', true)
  
