include ../modules/include/include.pug

doctype html 
html(lang="ru-RU") 
  head  
    block head
    +head()
    block head-script
  body(class=""+bodyClass)
    .wrapper
      block content  
    +foot() 
    +hidden()
    +script() 
    block script
