mixin script()
  //- script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='https://code.jquery.com/jquery-2.2.4.min.js')

  script(src="js/svg4everybody.min.js") 
  script(src="js/ofi.js")
  script(src="https://unpkg.com/popper.js/dist/umd/popper.min.js")
  script(src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js')

  //- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  script(src="js/mask.js")
  script(src="js/common.js") 
