mixin menuClick()
  nav.header__nav-wrap
    a#openup.header__list-open(href='#')
      | Меню
      span.hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner
    ul.header__list
      li.header__list-item
        a.header__list-link(href="#")
          | Menu item 1
        .header__list-open-submenu
          +svg('down','header__list-open-svg')
        .header__list-sublist-wrap
          ul.header__list-sublist
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 1
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 2
      li.header__list-item
        a.header__list-link(href='#')
          | Menu item 2
        .header__list-open-submenu
          +svg('down','header__list-open-svg')
        .header__list-sublist-wrap
          ul.header__list-sublist
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 1
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 2
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 3
      li.header__list-item
        a.header__list-link(href='#')
          | Menu item 3
        .header__list-open-submenu
          +svg('down','header__list-open-svg')
        .header__list-sublist-wrap
          ul.header__list-sublist
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 1
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 2
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 3
            li.header-sublist__item
              a.header-sublist__link(href='#') Submenu item 4
      li.header__list-item
        a.header__list-link(href='#') Menu item 4 
 

mixin menuHover()
  mixin item(title, link, isActive)
    li.header__list-item&attributes(attributes)(class=isActive ? 'header__list-item--active' : null)
      if !isActive
        a.header__list-link(href=link)!=title
      else
        span.header__list-link!=title

  nav.header__nav-wrap
    a#openup.header__list-open(href='#')
      span.hamburger.hamburger--collapse
        span.hamburger-box
          span.hamburger-inner
    ul.header__list
      +item('Главная', 'index.html', pageCode === 'main')
      +item('Как пользоваться', 'instruction.html', pageCode === 'instruction')
      +item('Вопрос-ответ', 'faq.html', pageCode === 'faq')
      +item('Пункты продажи ключей', 'key-retailers.html', pageCode === 'key-retailers')
      +item('Где оплатить', 'wheretopay.html', pageCode === 'wheretopay')
      +item('О компании', 'about.html', pageCode === 'about')
      +item('Контакты', 'contacts.html', pageCode === 'contacts')

      li.header__list-item.header__list-item--user.header__list-item--cust
        a.header__list-link(href='login.html') 
          span.item-user__content  
            +svg('user')
            | Вход   
      li.header__list-item.header__list-item--user
        a.header__list-link(href='payment.html') 
          span.item-user__content 
            +svg('mastercard')
            | Оплатить
